<app-header></app-header>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-2" *ngFor="let aluno of pageOfItems">
      <div class="card" style="width: rem;">
        <div class="card-body">
          <p class="text-center title"> <strong> {{ aluno.nome }} </strong> </p>
          <p class="card-text rgm">RGM: {{ aluno.matricula }}</p>
          <button type="button" (click)="verAnamnese(aluno)" class="btn btn-sm btn-primary">Ver Anamnese</button>
          <button type="button" (click)="deleteAlunosHttpRequest(aluno)" class="ml-2 btn btn-sm btn-danger">Deletar Aluno</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mx-auto" style="width: 500px;">
    <div class="col-sm-12 col-md-12 col-xl-12 text-center">
      <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>
</div>